/*  your css code here. If applicable */
      .card img{
        height: 140px;
      }
      .card-title{
        font-size: 14px;
      }
      .card-text{
        font-size: 12px;
      }
      .carousel-control-next, .carousel-control-prev{
        top:25px;
      }
      .modal,#lightboxExampleCarousel{
        background-color: #00000063;
      }
      .btnPosition{
        position: absolute;
        top: -14%;
        right: 0%;
      }
      .btnPosition button{
        filter: invert(1);
      }
      .card{
        margin-bottom: 20px;
      }
.card:hover{
	transform:scale(1.1)
}
